<!-- Stepper -->
<div class="material-component"></div>
<!-- Table -->
<div class="material-component"></div>
<!-- Tabs -->
<div class="material-component">
  Tabs
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="t1"> 1 </mat-tab>
    <mat-tab label="t2"> 2 </mat-tab>
    <mat-tab label="t3"> 3 </mat-tab>
  </mat-tab-group>
</div>

<!-- Tool bar -->
<div class="material-component">
  Tool bar
  <div>
    <mat-toolbar color="warn">
      <span>Simple</span>
      <mat-icon aria-hidden="false">face</mat-icon>
    </mat-toolbar>
  </div>
  <div>
    Multiple row
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span>R1</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>R2</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<!-- Tool tip -->
<div class="material-component">
  Tool tip, info de accion
  <div>
    Posicion
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="above"
    >
      Arriba
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="below"
    >
      Abajo
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="left"
    >
      Izquierda
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="right"
    >
      Derecha
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="before"
    >
      Before
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="after"
    >
      After
    </button>
  </div>
  <div>
    Delay
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipShowDelay="4000"
    >
      Show
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipHideDelay="4000"
    >
      Hide
    </button>
  </div>
</div>

<!-- Tree -->
<div class="material-component"></div>
