<!-- Stepper -->
<div class="material-component">
 stepper 
 <div>Simple
  <mat-stepper #stepper>
    <mat-step >
      <form >
        <ng-template matStepLabel>te1</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>te1</mat-label>
          <input matInput placeholder="tt" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
      <form >
        <ng-template matStepLabel>te2</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>te2</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="rr"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>   
</div>
<div>Vertical
  <mat-stepper #stepper orientation="vertical">
    <mat-step >
      <form >
        <ng-template matStepLabel>te1</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>te1</mat-label>
          <input matInput placeholder="tt" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
      <form >
        <ng-template matStepLabel>te2</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>te2</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="rr"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>   
</div>

</div>
<!-- Table -->
<div class="material-component">
  Table
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<!-- Tabs -->
<div class="material-component">
  Tabs
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="t1"> 1 </mat-tab>
    <mat-tab label="t2"> 2 </mat-tab>
    <mat-tab label="t3"> 3 </mat-tab>
  </mat-tab-group>
</div>

<!-- Tool bar -->
<div class="material-component">
  Tool bar
  <div>
    <mat-toolbar color="warn">
      <span>Simple</span>
      <mat-icon aria-hidden="false">face</mat-icon>
    </mat-toolbar>
  </div>
  <div>
    Multiple row
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span>R1</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>R2</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<!-- Tool tip -->
<div class="material-component">
  Tool tip, info de accion
  <div>
    Posicion
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="above"
    >
      Arriba
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="below"
    >
      Abajo
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="left"
    >
      Izquierda
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="right"
    >
      Derecha
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="before"
    >
      Before
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipPosition="after"
    >
      After
    </button>
  </div>
  <div>
    Delay
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipShowDelay="4000"
    >
      Show
    </button>
    <button
      mat-stroked-button
      matTooltip="Info de accion"
      matTooltipHideDelay="4000"
    >
      Hide
    </button>
  </div>
</div>

<!-- Tree -->

