$fuente: "Exo", sans-serif;
$fuente-size: 3;

h1 {
  font-family: $fuente;
  font-style: normal;
  font-weight: bold;
  color: #595594;
  font-size: $fuente-size * 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main {
  background-color: #fdf8f8;
  min-height: 100rem;
}

// Responsive
@media only screen and (max-width: 768px) {
  $fuente-size: 1;
  .main {
    background-color: red;
  }
}
@media only screen and (max-width: 769px) and (min-width: 1023px) {
  $fuente-size: 1;
  .main {
    background-color: blue;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 1215px) {
  $fuente-size: 2;
  .main {
    background-color: yellow;
  }
}
@media only screen and (max-width: 1216px) and (min-width: 1407px) {
  $fuente-size: 2;
}

@media only screen and (min-width: 1408px) {
  $fuente-size: 3;
}

//     @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
