<div class="main">
  <div><h1 class="header">Estadisticas COVID</h1></div>
  <app-dashboard></app-dashboard>
  <div class="buttons">
    <div class="pais">
      <select
        class="button-dash button is-fullwidth"
        [(ngModel)]="iso"
        (change)="showTable()"
      >
        <option disabled selected hidden value="">Paises</option>
        <option *ngFor="let p of paises" value="{{ p.value }}">
          {{ p.nombre }}
        </option>
        <option value="N/A">Esconder</option>
      </select>

      <ng-template #notShow>
        <button class="button-dash button is-fullwidth" (click)="hideTable()">
          Esconder tabla
        </button>
      </ng-template>
    </div>
    <div class="suscripcion">
      <button class="button-dash button is-fullwidth" (click)="showForm()">Suscripción</button>
    </div>
  </div>
  <!-- Muestra la tabla y pasa la variable iso -->
  <app-table *ngIf="tableShow" [iso]="iso"> </app-table>
  <app-form *ngIf="formShow" ></app-form>
<hr>
<h1>Ejercico de tarea</h1>
  <!--Elementp para ejercicio de borders  -->
<div class="tarea">
    <p>Este parrafo es 1</p>
    <p>Este parrafo es 2</p>
  </div>

<hr>
  <!-- Elementos para condiciones -->
  <h3>If</h3>
  <div class="if">
    <p>Este parrafo es 1</p>
    <p>Este parrafo es 2</p>
  </div>
  <div class="each">
    <h3>Each</h3>
    <p class="p-blue">Este parrafo es 1</p>
    <p class="p-green">Este parrafo es 2</p>
    <p class="p-red">Este parrafo es 3</p>
  </div>
  <div class="for">
    <h3>For</h3>
    <p class="s-1">Este parrafo es 1</p>
    <p class="s-2">Este parrafo es 2</p>
    <p class="s-3">Este parrafo es 3</p>
    <p class="s-4">Este parrafo es 4</p>
  </div>
  <hr>
  <div class="while">
    <h3>While</h3>
    <p class="p-1">Este parrafo es 1</p>
    <p class="p-2">Este parrafo es 2</p>
    <p class="p-3">Este parrafo es 3</p>
  </div>

  <hr>
<h1>Funcion de ems a px</h1>
<label class="ems">Label de fuente 2em</label>
<label class="topx">Label de fuente 32px</label>
</div>
