<div class="main">
  <div><h1 class="header">Estadisticas COVID</h1></div>
  <app-dashboard></app-dashboard>
  <div class="buttons">
    <div class="pais">
      <select
        class="button-dash button is-fullwidth"
        [(ngModel)]="iso"
        (change)="showTable()"
      >
        <option disabled selected hidden value="">Paises</option>
        <option *ngFor="let p of paises" value="{{ p.value }}">
          {{ p.nombre }}
        </option>
        <option value="N/A">Esconder</option>
      </select>

      <ng-template #notShow>
        <button class="button-dash button is-fullwidth" (click)="hideTable()">
          Esconder tabla
        </button>
      </ng-template>
    </div>
    <div class="suscripcion">
      <button class="button-dash button is-fullwidth">Suscripción</button>
    </div>
  </div>
  <!-- Muestra la tabla y pasa la variable iso -->
  <app-table *ngIf="tableShow" [iso]="iso"> </app-table>
</div>
