<div class="main-dash">
<h3 class="has-text-centered-widescreen header">Covid en el mundo</h3>
<div class="columns covid-data-dash">
<div class="column covid-data-dash__confirmados">
<label>Confirmados</label>
<div>
<label>{{data.confirmed}}</label></div>
</div>
<div class="column covid-data-dash__recuperados">
    <label>Recuperados</label>
    <div>
      <label>{{data.recovered}}</label>
    </div>
    
</div>
<div class="column covid-data-dash__fallecidos">
    <label>Fallecidos</label>
    <div>
    <label>{{data.deaths}}</label></div>
</div>
</div>
</div>
