<!-- Progress bar -->
<div class="material-component">
  Progress bar
  <div>
    Determinate
    <mat-progress-bar mode="determinate" value="34"></mat-progress-bar>
  </div>
  <div>
    Indeterminate
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div>
    Buffer
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
  <div>
    Query
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</div>
<!-- Progress spinner -->
<div class="material-component">
  Progress spinner
  <div>
    Indeterminate
    <mat-spinner></mat-spinner>
  </div>
  <div>
    Determinate
    <mat-progress-spinner color="accent" [value]="50"> </mat-progress-spinner>
  </div>
</div>
<!-- Radio button -->
<div class="material-component">
  <div>
    Radio button group
    <mat-radio-group>
      <mat-radio-button value="1">1</mat-radio-button>
      <mat-radio-button value="2">2</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<!-- Riple -->
<div class="material-component"></div>


<!-- Select -->
<div class="material-component">
    
</div>