<!-- Progress bar -->
<div class="material-component">
  Progress bar
  <div>
    Determinate
    <mat-progress-bar mode="determinate" value="34"></mat-progress-bar>
  </div>
  <div>
    Indeterminate
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div>
    Buffer
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
  <div>
    Query
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</div>
<!-- Progress spinner -->
<div class="material-component">
  Progress spinner
  <div>
    Indeterminate
    <mat-spinner></mat-spinner>
  </div>
  <div>
    Determinate
    <mat-progress-spinner color="accent" [value]="50"> </mat-progress-spinner>
  </div>
</div>
<!-- Radio button -->
<div class="material-component">
  <div>
    Radio button group
    <mat-radio-group>
      <mat-radio-button value="1">1</mat-radio-button>
      <mat-radio-button value="2">2</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<!-- Riple -->
<div class="material-component">Ripple
  <div matRipple [matRippleColor]="red">
    <p style="border: 10px sold rgb(129, 184, 221);">JDSDJSDJ</p>
  </div>

</div>

<!-- Select -->
<div class="material-component">
  Select
  <div>
    Basic mat
    <mat-form-field appearance="fill">
      <mat-label>Test</mat-label>
      <mat-select>
        <mat-option *ngFor="let f of arr" [value]="f">
          {{ f }}
        </mat-option>
      </mat-select>
      <mat-hint>esc</mat-hint>
    </mat-form-field>
  </div>
  <div>
    Group
    <mat-form-field appearance="fill">
      <mat-label>test</mat-label>
      <mat-select>
        <mat-option>-- test--</mat-option>
        <mat-optgroup disabled="true">
          <mat-option *ngFor="let f of arr" [value]="f">
            {{ f }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    Multiple
    <mat-form-field appearance="fill">
      <mat-label>multiple</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let f of arr" [value]="f">
          {{ f }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
