<!-- Sidenav -->
<div class="material-component">
  sidenav
  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <p>sidenav</p>
      <p *ngIf="showFiller">Mas infpo.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <div>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle button
      </button>
    </div>
  </mat-drawer-container>
  <div></div>
</div>
<!-- Side toggle -->
<div class="material-component">
  Side toggle
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
</div>

<!-- Slider -->
<div class="material-component">
  Slider
  <div>
    Basico
    <mat-slider min="1" max="10" step="0.5" value="5"></mat-slider>
  </div>
  <div>
    Vertical
    <mat-slider min="1" max="10" step="0.5" value="5" vertical></mat-slider>
  </div>
  <div>
    Invertido
    <mat-slider min="1" max="10" step="0.5" value="5" invert></mat-slider>
  </div>
  <div>
    Thumb y tick, muestra valor
    <mat-slider
      min="1"
      max="10"
      step="0.5"
      value="5"
      thumbLabel
      tickInterval="1"
    ></mat-slider>
  </div>
</div>

<!-- SnackBar -->
<div class="material-component">
  snackbar
  <mat-form-field appearance="fill">
    <mat-label>Mensaje</mat-label>
    <input matInput value="Prueba" #message />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Accion</mat-label>
    <input matInput value="Prueba" #action />
  </mat-form-field>

  <button
    mat-stroked-button
    (click)="openSnackBar(message.value, action.value)"
  >
    snack
  </button>
</div>
<!-- Sort header -->

<div class="material-component">
  sort header
  <div>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
