<!-- Sidenav -->
<div class="material-component">sidenav</div>
<!-- Side toggle -->
<div class="material-component">
  Side toggle
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
</div>

<!-- Slider -->
<div class="material-component">
  Slider
  <div>
    Basico
    <mat-slider min="1" max="10" step="0.5" value="5"></mat-slider>
  </div>
  <div>
    Vertical
    <mat-slider min="1" max="10" step="0.5" value="5" vertical></mat-slider>
  </div>
  <div>
      Invertido
      <mat-slider min="1" max="10" step="0.5" value="5" invert></mat-slider>
  </div>
  <div>
      Thumb y tick, muestra valor
      <mat-slider min="1" max="10" step="0.5" value="5" thumbLabel tickInterval="1"></mat-slider>
  </div>
</div>
