// Importo el main para poder acceder a tres colores primarios
@import "../../main"
//Estilos para alerta, separados por  conceptos de guia
//Cambios segun bem
.alerta
    font-family: 'Exo'
    font-style: normal
    font-weight: bold    
    height: auto
    width: 20%
    position: fixed 
    top:10vh



//Cambio de borde para alertas
.alerta__success
    @extend .alerta  //Segun guia, se pone primero el extend para saber que la clase tiene otras reglas
    border:5px solid $blue
.alerta__warning
    @extend .alerta  //Segun guia, se pone primero el extend para saber que la clase tiene otras reglas
    border:5px solid $recuperados
.alerta__danger
    @extend .alerta  //Segun guia, se pone primero el extend para saber que la clase tiene otras reglas
    border:5px solid $red