@import "../main"
$fuente: 'Exo', sans-serif

.boton
    margin-top:3%

form
    margin-left: 25%
    margin-right: 25%


button
    background-color: $purple-color
    border-radius: 15px
    font-family: $fuente
    font-style: normal
    font-weight: bold
    color: $white
 
/* Modo landscape */

@media (orientation: landscape) 
    form
        width: 100%
        margin:0px