@import "../main"
$fuente: 'Exo', sans-serif
$fuente-size: 3
$tbody-fuente: $recuperados

//Mixin para layout de tabla
@mixin Table($size, $w)
    width: 100% - 2* $w
    margin-left: $size
    margin-right: $size
    font-family: $fuente
//Mixin para fuentes 
@mixin Fuentes($color, $sizef)
    font-weight: bold
    font-size: $sizef
    font-family: $fuente
    color: $color
    width: auto
//Estilos de tabla
.table-component
    @include Table($size: 10%, $w:10% )
.table-component__thead
    background-color: $purple-color
.table-component__thead__th
    @include Fuentes($white, $sizef: 1.8em)

.table-component__tbody
    @include Fuentes($tbody-fuente,$sizef: 1.8em)





//Responsive
@media only screen and (max-width:767px)
    .table-component
        @include Table($size: 4%, $w:94% )
    .table-component__thead
        background-color: $purple-color
    .table-component__thead__th
        @include Fuentes($white, $sizef: 3vw)

    table-component__tbody
        @include Fuentes($tbody-fuente,$sizef: 3vw)
@media only screen and (min-width:768px) and (max-width:1023px)
    .table-component
        @include Table($size: 5%, $w:5% )
@media only screen and (min-width:1024px) and (max-width:1215px)
    .table-component
        @include Table($size: 5%, $w:5% )
@media only screen and (min-width:1216px) and (max-width:1407px)
    .table-component
        @include Table($size: 10%, $w:10% )
@media only screen and (min-width:1408px)
    .table-component
        @include Table($size: 10%, $w:10% )


//Lifecycle hooks 
.msg
    color:$casos
    text-align: center
    font: bold 5vh  $fuente
    position: relative
    top:-30vh
    padding: 1%
    align-self: center